{% extends 'changelog/skel.html' %}

{% block title %}{{ year }}. bejegyzései{% endblock %}

{% block active_nav %}
{% load url from future %}
<li class="active"><a href="{% url 'changelog.views.archive_year' year=year %}">{{ year }}. bejegyzései</a></li>
{% endblock %}

{% block content %}
{% load url from future %}
<div class="hero-unit">
<h1>{{ year }}. bejegyzései</h1>
<p>
{% for month in months %}
    <a href="#{{ month|date:'m' }}_modal" data-toggle="modal">{{ month|date:'F' }}</a>{% if not forloop.last %}{% if forloop.counter == months|length|add:'-1' %}{# utolso elotti loop #} és{% else %},{% endif %}{% endif %}
{% endfor %}
bejegyzései.
</p>
<p>Összesen {{ changelogs|length }} bejegyzés.</p>
<a href="{% url 'changelog.views.index' %}" class="btn btn-inverse"><i class="icon-white icon-arrow-left"></i> Vissza a címlapra</a>
</div>
<div class="year_entry">
<h3>{{ year }}</h3>
{% if changelogs %}
    <ul>
    {% for month in months %}
        <li><a href="{% url 'changelog.views.archive_month' year=month|date:'Y' month=month|date:'m' %}">{{ month|date:'F' }}</a></li>
        {% for changelog in changelogs %}
            <ul>
            {% if changelog.date.month == month.month %}
                <li><a href="{% url 'changelog.views.detail' year=changelog.date|date:'Y' month=changelog.date|date:'m' day=changelog.date|date:'d' %}">{{ changelog.date_str }}</a></li>
            {% endif %}
            </ul>
        {% endfor %}
    {% endfor %}
    </ul>
{% else %}
    <p>Nincs changelog bejegyzés.</p>
{% endif %}
</div>
<p><a href="{% url 'changelog.views.index' %}" class="btn btn-inverse"><i class="icon-white icon-arrow-left"></i> Vissza a címlapra</a></p>
{% for month in months %}
    <div class="modal hide fade" id="{{ month|date:'m' }}_modal" tabindex="-1" role="dialog" aria-labelledby="{{ month|date:'m' }}_modal_label" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="{{ month|date:'m' }}_modal_label">{{ year }}. {{ month|date:'F' }} bejegyzései</h3>
    </div>
    <div class="modal-body">
    <h4><a href="{% url 'changelog.views.archive_month' year=month|date:'Y' month=month|date:'m' %}">{{ year }}. {{ month|date:'F' }}</a></h4>
    <ul>
    {% for changelog in changelogs %}
        {% if changelog.date.month == month.month %}
            <li><a href="{% url 'changelog.views.detail' year=changelog.date|date:'Y' month=changelog.date|date:'m' day=changelog.date|date:'d' %}">{{ changelog.date_str }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Bezár</button>
    </div>
    </div>
{% endfor %}
{% endblock %}
