{% if changelogs %}
    {% for year in years %}
        <a href="{% url changelog.views.archive_year year=year %}">{{ year }}</a>
        <ul>
        {% for ym in years_months %}
            {% if year == ym.year %}
                <li><a href="{% url changelog.views.archive_month year=ym|date:'Y' month=ym|date:'m' %}">{{ ym|date:'F' }}</a>
                    <ul>
                    {% for c in changelogs %}
                        {% if c.date.year == ym.year and c.date.month == ym.month %}
                            <li><a href="{% url changelog.views.detail year=c.date|date:'Y' month=c.date|date:'m' day=c.date|date:'d' %}">{{ c.date_str }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>Nincs changelog bejegyzés.</p>
{% endif %}
