{% extends 'changelog/skel.html' %}

{% block title %}{{ ym.year }}. év {{ ym|date:'F' }} havi bejegyzései{% endblock %}

{% block active_nav %}
{% load url from future %}
<li class="active"><a href="{% url 'changelog.views.archive_month' year=ym|date:'Y' month=ym|date:'m' %}">{{ ym.year }}. év {{ ym|date:'F' }} havi bejegyzései</a></li>
{% endblock %}

{% block content %}
<div class="hero-unit">
<h1>{{ ym.year }}. év {{ ym|date:'F' }} havi bejegyzései</h1>
<p>Március és Április hónap bejegyzései.</p>
<p><a href="{% url 'changelog.views.index' %}" class="btn btn-inverse"><i class="icon-white icon-arrow-left"></i> Vissza a címlapra</a>
</div>
<div>
{% if changelogs %}
    <ul>
    {% for changelog in changelogs %}
        <li><a href="{% url 'changelog.views.detail' year=changelog.date|date:'Y' month=changelog.date|date:'m' day=changelog.date|date:'d' %}">{{ changelog.date_str }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nincs changelog bejegyzés.</p>
{% endif %}
</div>
<p><a href="{% url 'changelog.views.index' %}" class="btn btn-inverse"><i class="icon-white icon-arrow-left"></i> Vissza a címlapra</a></p>
{% endblock %}
