{% extends 'changelog/skel.html' %}

{% block title %}Bejegyzés: {{ changelog.date_str }}{% endblock %}

{% block active_nav %}
{% load url from future %}
{% if changelog != LATEST_CHANGELOG %} {# Csak akkor rakjuk ki az uj aktiv menut, ha az nem egyezik a legutolso bejegyzessel, mivel az mar kint a menuben. #}
    <li class="active"><a href="{% url 'changelog.views.detail' year=changelog.date|date:'Y' month=changelog.date|date:'m' day=changelog.date|date:'d' %}">Bejegyzés: {{ changelog.date_str }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="hero-unit">
<div class="fb-like social_button" data-href="{% if changelog.custom_like_url %}{{ changelog.custom_like_url }}{% else %}{{ SITE_URL }}{{ request.get_full_path }}{% endif %}{# Custom like url. #}" data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>
<div class="social_button"><a href="https://twitter.com/share" class="twitter-share-button" data-lang="hu">Tweet</a></div>
<h1>{{ changelog.date_str }}</h1>
{% if changelog_labels %}
    <p>
    {% for clc in changelog_labels %}
        <a href="#{{ clc.changelog_label.id }}_modal" data-toggle="modal">{{ clc.changelog_label.name }}</a>{% if not forloop.last %}{% if forloop.counter == changelog_labels|length|add:'-1' %}{# utolso elotti loop #} és{% else %},{% endif %}{% endif %}
    {% endfor %}
    javítás{{ changelog_labels|pluralize:'ok' }} található{{ changelog_labels|pluralize:'k' }} a bejegyzésben.</p>
{% endif %}
<p>Összesen {{ changelog.ChangelogLabelEntry_Count }} javítás.</p>
<a href="{% url 'changelog.views.index' %}" class="btn btn-inverse"><i class="icon-white icon-arrow-left"></i> Vissza a címlapra</a>
</div>
<div id="fixes">
{% load changelog_filters %}
{% if changelog_labels %}
    {% for clc in changelog_labels %}
        <div class="fix_category_node">
        <h3>{{ clc.changelog_label.name }}</h3>
        <ul>
        {# Rovid formatum (cle.content|bbcode) hasznalata nem jo mivel akkor escape-eli az altalunk generalt kodot is. #}
        {# Es ha megprobaljuk ezt nem escape-elni (cle.content|bbcode|safe) akkor pedig semmi sem lesz esacpe-elve. #}
        {% for cle in clc.changelog_label_entries %}
            <li>{% filter bbcode %}{{ cle.content }}{% endfilter %}</li>
        {% endfor %}
        </ul>
        </div>
    {% endfor %}
{% else %}
    <div class="fix_category_node">Nincs bejegyzés.</div>
{% endif %}
<p><a href="{% url 'changelog.views.index' %}" class="btn btn-inverse"><i class="icon-white icon-arrow-left"></i> Vissza a címlapra</a>
</div>
{% for clc in changelog_labels %}
    <div class="modal hide fade" id="{{ clc.changelog_label.id }}_modal" tabindex="-1" role="dialog" aria-labelledby="{{ clc.changelog_label.id }}_modal_label" aria-hidden="true">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="{{ clc.changelog_label.id }}_modal_label">{{ changelog.date_str }} - {{ clc.changelog_label.name }}</h3>
    </div>
    <div class="modal-body">
    <h4>{{ clc.changelog_label.name }}</h4>
    <ul>
    {% for cle in clc.changelog_label_entries %}
        <li>{% filter bbcode %}{{ cle.content }}{% endfilter %}</li>
    {% endfor %}
    </ul>
    </div>
    <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Bezár</button>
    </div>
    </div>
{% endfor %}
{% endblock %}
