{% extends 'changelog/skel.html' %}

{% block title %}Címlap{% endblock %}

{% block content %}
<div class="hero-unit">
<h1>Changelog</h1>
{% load changelog_filters %}
{{ changelog_explanation|first_p|safe }}
<p><a class="btn btn-primary btn-large" href="#changelog_more" data-toggle="modal">Bővebben <i class="icon-white icon-arrow-right"></i></a></p>
</div>
<div class="modal hide fade" id="changelog_more" tabindex="-1" role="dialog" aria-labelledby="changelog_more_label" aria-hidden="true">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h3 id="changelog_more_label">Changelog</h3>
</div>
<div class="modal-body changelog_more">
{{ changelog_explanation|safe }}
</div>
<div class="modal-footer">
<button class="btn" data-dismiss="modal" aria-hidden="true">Bezár</button>
</div>
</div>
<div class="row-fluid">
<div class="span12 fresh_entries">
{% load url from future %}
<h2>Friss bejegyzések</h2>
<ul>
<li><a href="{% url 'changelog.views.archive_year' year=ym|date:'Y' %}">{{ ym.year }}</a>
<ul>
<li><a href="{% url 'changelog.views.archive_month' year=ym|date:'Y' month=ym|date:'m' %}">{{ ym|date:'F' }}</a>
<ul>
{% for changelog in latest_changelogs %}
    <li><a href="{% url 'changelog.views.detail' year=changelog.date|date:'Y' month=changelog.date|date:'m' day=changelog.date|date:'d' %}">{{ changelog.date_str }}</a></li>
{% endfor %}
</ul>
</li>
</ul>
</li>
</ul>
<p><a class="btn btn-info" href="{% url 'changelog.views.archive_all' %}">Összes <i class="icon-white icon-arrow-right"></i></a></p>
</div>
</div>
{% endblock %}
